body {
    background-color: rgb(255, 219, 143);
    padding: 2% 10%;
    text-align: center;
}

h1 {
    margin: 2rem auto;
}

ul {
    list-style-position: inside;
}

nav a {
    padding: 3rem 1rem;
}

img.full-width {
    max-width: 100%;
}